<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SettingsSection" type="GenericBug.SettingsCollection.SettingsSection, GenericBug"/>
  </configSections>
  <SettingsSection>
    <Settings>
      <setting name="UIMode" value="Auto" />
      <setting name="UIProvider" value="Auto" />
      <setting name="StoragePath" value="CurrentDirectory" />
      <setting name="MiniDumpType" value="Tiny" />
      <setting name="SleepBeforeSend" value="10" />
      <setting name="MaxQueuedReports" value="5" />
      <setting name="StopReportingAfter" value="30" />
      <setting name="WriteLogToDisk" value="true" />
      <setting name="ExitApplicationImmediately" value="true" />
      <setting name="HandleProcessCorruptedStateExceptions" value="false" />
      <setting name="ReleaseMode" value="false" />
      <setting name="ThrowExceptions" value="false" />
      <setting name="DisplayDeveloperUI" value="false" />
      <setting name="HandleExceptions" value="true" />
      <setting name="DispatcherIsAsynchronous" value="true" />
      <setting name="SkipDispatching" value="false" />
      <setting name="RemoveThreadSleep" value="false" />
      <setting name="Cipher" value="21hxvMHX+5j0XdNnA3FXbk6eQmXeUhRzDo1gXywGNJc=" />
    </Settings>
    <Nested>
      <nested name="destination_0" value="FuhmjGpXo9kb/sOivLBJSdp19TjBDKcBs3W02dQgJ12OzLuqmHK8u2LZY9r/jtI/Q+UDApWbkqddDih6N2nR3A==" />
    </Nested>
  </SettingsSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
